/*
*
* XXXXX
*
*/

html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
    background: #333;
}

.asideInfos{
  position: absolute;
  z-index: 9;
  left:-145px;
  top:0;
  height: 100%;
  width: 160px;
  max-height: 100%; 
  overflow: hidden; 
  background:#555555;
  transition: all 650ms;
}

.asideInfos:hover{
  left: 0px !important;
  overflow-y: auto !important; 
  box-shadow: 4px 0px 9px #808080;
}

.asideInfos:hover #actionsSection , .asideInfos:hover #examplesSection{
  display: block !important;
}

#enterAside{
  float:right;
  margin-top:50px;
  color:white;
  font-size:15px;
}


#quitAside{
  height: 50px;
  width: 100%;
  background: grey;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}

#quitAside:hover{
  background: #fff;
  color: #000;
}

.asideInfos h3{
  height: 50px;
  width: 100%;
  background: grey;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}


.asideInfos h3:hover{
  background: #fff;
  color: #000;
}


.asideInfos:hover #enterAside{
  display: none !important;
}

#examplesSection{
  width: 100%;
}

#examplesSection ul{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:baseline;
  padding: 0px;
  list-style: none;
}

#actions-list{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:baseline;
  padding: 18px;
  list-style: none;
}

#actions-list a{
  color: #fff;
}

#actions-list a:hover{
  text-decoration: none;
}

.example {
  cursor: pointer;
  color: #bbb;
  transition: none;
}

.example:hover , .exampleClicked{
  width: 100%;
  background: #fff;
  color: #000;
  transition : background 600ms;
}

.action {
  cursor: pointer;
  color: #bbb;
  transition: none;
}

.action:hover{
  width: 100%;
  background: #fff;
  color: #000;
  transition : background 600ms;
}

.action:hover a{
  color: #000 !important;
}

h1{
    padding-bottom: 0;
    margin-bottom:  0;
    text-align: center;
    font-size: 45px;
    color: #fff;
}

h2{
    padding-top: 0;
    margin-top:  0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    color: #bbb;
}

label{
    width: 89%;
    text-align: center;
    font-size: 15px;
    color: #fff;

}

textarea{
    width: 89%;
    height: 440px;
    border-radius: 15px;
    border: 4px solid #555;
    background: #333333;
    color: #ddd;
}

.textareaSection{
    display: flex;
    justify-content: center;
}


.tryButton{
    height: 70px;
    width: 150px;
    background: #C2BA61;
    border: 0; color: #555;
    transition : all 450ms;
}

.tryButton:hover{
    transform: scale(1.15);
}


.docs ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;

}


.docs ul li a
{
  text-decoration: none;
  padding: .2em 1em;
  color: #bbb;
}
.docs {
  color: #bbb;
  height: 250px !important;
  overflow-y: scroll;
}



/*
*
* Changed default Ace editor
*
*/

.jsoneditor .menu{
  display: none;
}
