/*
*
* XXXXX
*
*/

html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
    background: #333;
}

h1{
    padding-bottom: 0;
    margin-bottom:  0;
    text-align: center;
    font-size: 45px;
    color: #fff;
}

h2{
    padding-top: 0;
    margin-top:  0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    color: #bbb;
}

label{
    width: 89%;
    text-align: center;
    font-size: 15px;
    color: #fff;

}

textarea{
    width: 89%;
    height: 440px;
    border-radius: 15px;
    border: 4px solid #555;
    background: #333333;
    color: #ddd;
}

.textareaSection{
    display: flex;
    justify-content: center;
}


.tryButton{
    height: 70px;
    width: 150px;
    background: #C2BA61;
    border: 0; color: #555;
    transition : all 450ms;
}

.tryButton:hover{
    transform: scale(1.15);
}


.docs ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;

}


.docs ul li a
{
  text-decoration: none;
  padding: .2em 1em;
  color: #bbb;
}
.docs {
  color: #bbb;
  height: 250px !important;
  overflow-y: scroll;
}

.example {
  cursor: pointer;
}


/*
*
* Changed default Ace editor
*
*/

.jsoneditor .menu{
  display: none;
}
